@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-ExtraBold.eot);
    src: 
        url(../fonts/Gilroy-ExtraBold.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-ExtraBold.woff) format('woff'),
        url(../fonts/Gilroy-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Heavy.eot);
    src: 
        url(../fonts/Gilroy-Heavy.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-Heavy.woff) format('woff'),
        url(../fonts/Gilroy-Heavy.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-LightItalic.eot);
    src: 
        url(../fonts/Gilroy-LightItalic.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-LightItalic.woff) format('woff'),
        url(../fonts/Gilroy-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-ThinItalic.eot);
    src: 
        url(../fonts/Gilroy-ThinItalic.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-ThinItalic.woff) format('woff'),
        url(../fonts/Gilroy-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-BlackItalic.eot);
    src: 
        url(../fonts/Gilroy-BlackItalic.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-BlackItalic.woff) format('woff'),
        url(../fonts/Gilroy-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-BoldItalic.eot);
    src: 
        url(../fonts/Gilroy-BoldItalic.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-BoldItalic.woff) format('woff'),
        url(../fonts/Gilroy-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-SemiBold.eot);
    src: 
        url(../fonts/Gilroy-SemiBold.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-SemiBold.woff) format('woff'),
        url(../fonts/Gilroy-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-UltraLightItalic.eot);
    src: url(../fonts/Gilroy-UltraLightItalic.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-UltraLightItalic.woff) format('woff'),
        url(../fonts/Gilroy-UltraLightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-SemiBoldItalic.eot);
    src: local("Gilroy SemiBold Italic"), local("Gilroy-SemiBoldItalic"),
        url(../fonts/Gilroy-SemiBoldItalic.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-SemiBoldItalic.woff) format('woff'),
        url(../fonts/Gilroy-SemiBoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Light.eot);
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url(../fonts/Gilroy-Light.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-Light.woff) format('woff'),
        url(../fonts/Gilroy-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-MediumItalic.eot);
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
        url(../fonts/Gilroy-MediumItalic.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-MediumItalic.woff) format('woff'),
        url(../fonts/Gilroy-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-ExtraBoldItalic.eot);
    src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
        url(../fonts/Gilroy-ExtraBoldItalic.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-ExtraBoldItalic.woff) format('woff'),
        url(../fonts/Gilroy-ExtraBoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.eot);
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url(../fonts/Gilroy-Regular.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-Regular.woff) format('woff'),
        url(../fonts/Gilroy-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-HeavyItalic.eot);
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
        url(../fonts/Gilroy-HeavyItalic.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-HeavyItalic.woff) format('woff'),
        url(../fonts/Gilroy-HeavyItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Medium.eot);
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url(../fonts/Gilroy-Medium.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-Medium.woff) format('woff'),
        url(../fonts/Gilroy-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-RegularItalic.eot);
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
        url(../fonts/Gilroy-RegularItalic.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-RegularItalic.woff) format('woff'),
        url(../fonts/Gilroy-RegularItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-UltraLight.eot);
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url(../fonts/Gilroy-UltraLight.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-UltraLight.woff) format('woff'),
        url(../fonts/Gilroy-UltraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Bold.eot);
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url(../fonts/Gilroy-Bold.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-Bold.woff) format('woff'),
        url(../fonts/Gilroy-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Thin.eot);
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url(../fonts/Gilroy-Thin.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-Thin.woff) format('woff'),
        url(../fonts/Gilroy-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Black.eot);
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url(../fonts/Gilroy-Black.eot?#iefix?) format('embedded-opentype'),
        url(../fonts/Gilroy-Black.woff) format('woff'),
        url(../fonts/Gilroy-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}



:root{--main-font:"Gilroy",sans-serif;--color-one:red;--color-two:#ba1e1b;--color-three:#1d1d1b;--color-four:#d0d0d0;--color-five:#767675;--color-six:#cbcbcb;--color-eight:#d9d9d9;--color-nine:#dfdfdf;--font-size-main:16px;--footer-background:#1d1d1b;--footer-menu-color:#d0d0d0}.header{padding-top:80px;position:absolute;top:0;left:0;width:100%;box-sizing:border-box;z-index:9;transition:all .1s}@media(max-width:992px){.header{background:var(--color-three);padding:20px 15px 15px;position:fixed}}.header .container{display:flex;justify-content:space-between;z-index:9;position:relative}.header .container .logo{width:173px;height:70px;display:block}@media(max-width:992px){.header .container .logo{width:93px;height:41px}}.header .container .logo svg{width:100%;height:100%;fill:#000;margin-left:-7px}@media(max-width:992px){.header .container .logo svg{fill:#fff}}.header .container .buter{width:52px;height:44px;cursor:pointer;overflow:hidden}@media(max-width:992px){.header .container .buter{width:35px}}.header .container .buter svg{width:100%;height:100%;fill:#1d1d1b}@media(max-width:992px){.header .container .buter svg{fill:#fff}}@media(max-width:992px){.header .container{overflow:hidden}}.header__menu-opened .container .buter svg,.header__menu-opened .container .logo svg,.header__white .container .buter svg,.header__white .container .logo svg{fill:#fff}main.simple-header{margin-top:200px}@media(max-width:992px){main.simple-header{margin-top:100px}}footer{background:var(--footer-background);padding:60px;margin-top:auto;position:relative}@media(max-width:992px){footer{padding:15px}}footer .container{display:grid;grid-template-columns:repeat(3,1fr);gap:40px}@media(max-width:992px){footer .container{grid-template-columns:1fr;gap:20px}}footer .container>div{display:flex;justify-content:center;flex-direction:column}@media(max-width:992px){footer .container>div:first-child{display:none}}footer .footer__logo{display:block;width:173px;height:74px}footer .footer__logo svg{width:100%;height:100%;fill:#fff}footer .footer__header{font-size:26px;font-weight:700;color:#fff}@media(max-width:992px){footer .footer__header{font-size:20px}}footer .footer__social .footer__header{margin-bottom:20px}@media(max-width:768px){footer .footer__social .footer__header{margin-top:20px}}footer .footer__social-list{display:flex;gap:20px}footer .footer__social-list svg{width:58px;height:58px}footer .footer__menu{margin-top:60px}footer .footer__menu ul{list-style:none;display:flex;flex-direction:column;gap:25px;padding:0 3px;margin:0}footer .footer__menu ul li a{color:var(--footer-menu-color);text-decoration:none;transition:all .5s}footer .footer__menu ul li a:hover{color:#fff}footer .footer__subscribe{padding-top:40px}@media(max-width:768px){footer .footer__subscribe{padding-top:20px}}footer .footer__subscribe form{display:flex;flex-direction:column;margin-top:40px}@media(max-width:992px){footer .footer__subscribe form{margin-top:15px;margin-bottom:30px}}footer .footer__subscribe .footer_input,footer .footer__subscribe input[type=text]{max-width:305px;height:50px;background:#4a4a49;color:var(-footer-menu-color);border:0;padding:0 20px;border-radius:4px;margin-top:20px;color:#fff;box-sizing:border-box}footer .footer__subscribe .footer_input::-moz-placeholder,footer .footer__subscribe input[type=text]::-moz-placeholder{color:var(--footer-menu-color);font-size:16px}footer .footer__subscribe .footer_input::placeholder,footer .footer__subscribe input[type=text]::placeholder{color:var(--footer-menu-color);font-size:16px}@media(max-width:992px){footer .footer__subscribe .footer_input,footer .footer__subscribe input[type=text]{width:100%}}footer .footer__subscribe input[type=submit]{margin-top:25px;background:none;border:0;border-bottom:2px solid var(--color-two);color:var(--color-two);font-size:16px;text-transform:uppercase;text-align:left;display:inline-flex;margin-right:auto;padding:0 0 5px;cursor:pointer;border-radius:0;-webkit-border-radius:0;-webkit-appearance:none}footer .footer__decor{position:absolute;top:-130px;right:20%}footer .footer__decor.half_circle{width:220px}footer .footer__decor.triangle1,footer .footer__decor.triangle2{width:205px}@media(max-width:992px){footer .footer__decor{display:none}}footer .footer__decor-mob{display:none}@media(max-width:992px){footer .footer__decor-mob{display:block;position:absolute;top:150px;right:0}}footer .wpcf7-form.init,footer .wpcf7-form.init p,footer .wpcf7-form.invalid,footer .wpcf7-form.invalid p,footer .wpcf7-form.sent,footer .wpcf7-form.sent p,footer .wpcf7-form.submitting,footer .wpcf7-form.submitting p{margin:0;padding:0}footer .wpcf7-spinner{display:none!important}.top-menu,footer .wpcf7-response-output{color:#fff}.top-menu{background-color:var(--color-three);font-size:30px;text-transform:uppercase;position:absolute;top:0;right:0;padding:230px 70px 70px;width:100%;box-sizing:border-box;z-index:1;display:none;height:100vh}@media(max-width:992px){.top-menu{font-size:20px;padding:20px;height:100vh;top:60px}}.top-menu a{text-decoration:none;color:inherit}.top-menu__logo{display:block;width:173px;height:76px}@media(max-width:992px){.top-menu__logo{width:93px;height:41px}}.top-menu__logo svg{width:100%;height:100%;fill:#fff}.top-menu__decor{position:absolute;top:30%;z-index:-1;left:260px;outline:none;cursor:none}@media(max-width:992px){.top-menu__decor{left:40px}}.top-menu__wrapper{position:relative}.top-menu__close{width:27px;height:27px;position:absolute;top:0;right:0;cursor:pointer}.top-menu__close:before{width:100%;height:100%;content:"✕";font-size:40px;line-height:1em}.top-menu__close2{width:27px;height:27px;cursor:pointer;display:none;margin-right:15px}.top-menu__close2:before{width:100%;height:100%;content:"✕";font-size:45px;line-height:1em;color:#fff;font-weight:900}@media(max-width:992px){.top-menu__close2:before{font-size:40px}}@media(max-width:992px){.top-menu__close2{margin-right:10px}}.top-menu ul{display:flex;flex-direction:column;gap:40px;list-style:none;padding:0;margin:-20px 0 0 260px}@media(max-width:992px){.top-menu ul{margin:40px 0 0 40px}}.top-menu ul a{align-items:center;position:relative;display:inline-flex;transition:all .5s}.top-menu ul a:before{content:" ";height:1px;border-bottom:3px solid var(--color-two);position:absolute;top:calc(50% - 2px);width:calc(100% + 2px);opacity:0;transition:all .5s;z-index:-1}.top-menu ul a:hover{color:var(--color-four)}.top-menu ul .current_page_item a:before,.top-menu ul a:hover:before{opacity:1}body,html{font-family:var(--main-font);font-size:var(--font-size-main);height:100%;padding:0;margin:0;color:var(--color-three)}body{display:flex;flex-direction:column;-webkit-overflow-scrolling:touch}a{color:inherit}.container{max-width:1570px;margin:0 auto;padding:0 15px}@media(max-width:1740px){.container{padding-left:60px;padding-right:60px}}@media(max-width:1280px){.container{padding-left:60px;padding-right:60px}}@media(max-width:992px){.container{max-width:100%;padding-left:15px;padding-right:15px}}@media(max-width:992px){.no-mobile{display:none}}@media(min-width:992px){.only-mobile{display:none}}
