:root{
  --main-font : 'Gilroy',sans-serif;

  --color-one : red;
  --color-two : #BA1E1B;
  --color-three : #1D1D1B;
  --color-four : #D0D0D0;
  --color-five : #767675;
  --color-six: #CBCBCB;
  --color-eight: #D9D9D9;
  --color-nine: #DFDFDF;
  

  --font-size-main: 16px;

  
  --footer-background: #1D1D1B;
  --footer-menu-color: #d0d0d0;
}